name: learn-github-actions
on:
  push:
    branches:
      - main
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v10
        
      - name: List all modified files
        run: |
          for file in "${{ steps.changed-files.outputs.all_modified_files }}"; do
            echo "$file was modified"
          done

#       - name: crowdin action
#         uses: crowdin/github-action@1.0.4
#         with:
#           upload_translations: true
#           download_translations: false
#           localization_branch_name: l10n_crowdin_action
#           create_pull_request: true
#         env:
#           GITHUB_TOKEN: ${{ secrets.PRIVATE_TOKEN }}
#           CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
#           CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
